<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>552176551349-lmplvh91bgi70q43il92udjfglvi15ne.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.552176551349-lmplvh91bgi70q43il92udjfglvi15ne</string>
	<key>API_KEY</key>
	<string>AIzaSyAq0AtAQPlamzqU_Crco_k_FhSXxTKBQqM</string>
	<key>GCM_SENDER_ID</key>
	<string>552176551349</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Bajaj.Split</string>
	<key>PROJECT_ID</key>
	<string>split-5cb8f</string>
	<key>STORAGE_BUCKET</key>
	<string>split-5cb8f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:552176551349:ios:23026fd9e21251fd</string>
	<key>DATABASE_URL</key>
	<string>https://split-5cb8f.firebaseio.com</string>
</dict>
</plist>
